
#logo{
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#editor{
    background-color: white;
    min-height: 850px;
}


#write_my_board{
    margin-left: 5%;
    margin-right: 5%;
}

/**/
#community_body{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
/*height: 85vh;*/
#bigbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(232,	241,255);
    width: 60vw;
     /*짤림 현상 발생: 수정 필요할 듯! 800px*/
}

#whitebox1{
    background-color: rgb(232,	241,255);
    height: 120px;
}
/**/
#photolayer{
    display: flex;

}
#selectphoto{
    background-image: url(./image/SelectPhoto_before.png);
    margin: 20px;
    margin-right: 0px;

}
#takephoto{
    background-image: url(./image/TakePhoto_before.png);
    margin: 20px;

}

.photo{
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
}


#select{
    outline: 0px;
}
input{
   /* 일정 기준아래로 떨어지면, 모바일 버전으로 바꿀까???*/ 
    border-width: 0 0 1px;
    outline: none;

}

#content{
    height: auto;
}


#title{
    border-bottom: 2px solid;
    border-color: rgb(147,147,147);
    margin-left: 5%;
    margin-right: 5%;

    margin-bottom: 20px;
}

input[name = "title"]{
    padding-top: 30px;
    font-size: 20px;
    border-bottom: 0px;
    width: 100%;
    
}

textarea{
    height: auto;
    overflow-y: hidden;
    border-width: 0 0 0px;
    outline: none;
    width: 100%;
    resize: none;

    overflow-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;

    padding-top: 20px;


}


/* Quill Css*/
.ql-toolbar.ql-snow{
    border: 0px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}


.ql-container.ql-snow {
    border: 0px !important;
}
.quill{
    height: 100%;
}


#footer{
    flex: 1;/* flex 남은 부분 가득 채우기*/
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
   
}